{% extends "layout.html" %}

{% block content %}
<div class="fullscreen">
    <video autoplay loop muted class="bgvideo" id="bgvideo" pip="false">
        <source src="/templates/video/4K_Color_Explosion(1280x720).mp4" type="video/mp4">
    </video>
</div>
{% endblock %}

{% block page %}
<div class="border_offer">
    <div class="main_offer_text">
        <h1> ПОКРАСКА ИЗДЕЛИЙ<br />из МДФ и ШПОНА<br />в срок до 10 дней <br />от 2500 р/м<sup>2</sup></h1>
    </div>
    <div class="offer_button">
        <button>Заказать расчет</button>
    </div>
</div>
{% endblock %}


