.header{

    display: flex;
    background-color: rgba(207, 207, 207, 0.6);
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 80px;
    z-index: 3;

  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

    .header_column_one{
       width: 40%;
       .logo{
            height: 70px;
            width: auto;
       }
    }
    .header_column_two{

    }
    .header_column_three{

        .header_burger{

        }
    }
    .header_menu{

    }
  }
}